:root {
	--background: #252a34;
	--banner-color: #aaa;
	--banner-hover-color: #fff;
	--banner-link-color: #00adb5;
}

.mh-banner {
	background-color: inherit;
	//backdrop-filter: brightness(150%);
	//-moz-backdrop-filter: brightness(150%);
	//-webkit-backdrop-filter: brightness(150%);
	color: var(--banner-color);
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 10px;
}

.banner-active,
.mh-banner:hover {
	color: var(--banner-hover-color);
}

.mh-banner:after {
	content: '\23f7';
	margin-left: 5px;
}

.banner-active:after {
	content: "\23f6";
}

.mh-banner-content {
	display: grid;
	grid-template-columns: repeat(1fr, 12);
	gap: 5px;
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	font-size: 12px;
	transition: max-height 0.2s ease-out;
	//filter: brightness(120%);
	//backdrop-filter: brightness(150%);
	//-moz-backdrop-filter: brightness(150%);
	//-webkit-backdrop-filter: brightness(150%);
}

.mh-banner-content>div.mh-banner-content-filler-first {
	grid-column: 1 / span 5;
}

.mh-banner-content>div.mh-banner-content-filler-second {
	grid-column: 9 / span 4;
}

.mh-banner-content>div.mh-banner-content-center {
	grid-column: 1 / span 12;
	text-align: center;
}

.mh-banner-content a {
	color: var(--banner-link-color);
	text-decoration: none;
}

.mh-banner-content a:hover {
	filter: brightness(110%);
	text-decoration: underline;
}
